.marca{
	border-color: #99C;
	border-style: dotted;
}
a{
    text-decoration: none;
    color: #F30;
}
a:hover{
    color: blue;
    font-weight: bold;
    font-family: Times New Roman;
}
ul{
    list-style-type: none;
    width: 100%;
}
li{
    display: inline-block;
    width: 23%;

}